@font-face{
    font-family: "Cheltenham Book";
    src: url("../../static/fonts/Cheltenham\ Book.ttf");
}

@font-face{
    font-family: "Cheltenham Book italic";
    src: url("../../static/fonts/Cheltenham\ BookItalic.ttf");
}

.main{
    display:flex;
    width: 95vw;
    justify-content: space-between;
}

.main .content h1{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Cheltenham Book italic";
    font-size: 100pt;
    line-height: 80%;
    text-transform: uppercase;
}

.main .content h2{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 60pt;
    font-family: Helvetica, snas-serif;
    font-weight: 500;
}

.main .content .ted_title{
    font-weight: 700;
    margin: 0;
    margin-left: 3rem;
}

.main .content .ted_title span{
    margin-left: 5rem;
}

.main .content .conference_date{
    margin-left: 8rem;
}

.main .conference_details{
    position: relative;
    top: 25rem;
    text-align: center;
    margin-left: 2rem;
    height: max-content;
}

.main .conference_details ul{
    list-style-type: none;
    padding: 0;
}


.main .button{
    margin-top: 0.2rem;
    background-color: #AA0000;
    color: white;
    border-radius: 5px;
    padding: 6px 8px;
    text-decoration: none;
}

