
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding-left: 2rem;
}

.navigation img{
    width: 255px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 1rem 0;
}

.menu ul li{
    margin-right: 1rem;
    font-size: 20pt;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

.menu ul li a:hover{
    color: #880000;
    /* text-decoration: line-through; */
}

.menu .selected a{
    color: #AA0000;
    text-decoration: none;
}

.social_media ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 1rem 0;
}

.social_media img{
    width: 16px;
}