@font-face{
    font-family: "Cheltenham Book";
    src: url("../../static/fonts/Cheltenham\ Book.ttf");
}

@font-face{
    font-family: "Cheltenham Book italic";
    src: url("../../static/fonts/Cheltenham\ BookItalic.ttf");
}

html{
    background-image: url('../../static/images/site/backgroundOpcacity05.png');
    background-color: rgba(255,255,255,0.2);
}

body{
    margin: 0;
}