@font-face{
    font-family: "Cheltenham Book";
    src: url("../../static/fonts/Cheltenham\ Book.ttf");
}

@font-face{
    font-family: "Cheltenham Book italic";
    src: url("../../static/fonts/Cheltenham\ BookItalic.ttf");
}

html{
    background-image: url('../../static/images/site/background_img.jpg');
}